<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    />
    <link rel="stylesheet" href="/styles/feed.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="profile">
          <div class="profile-image">
            <img src="<%= profileImageUrl %>" width="124" height="124" alt="" />
          </div>
          <div class="profile-user-settings">
            <h1 class="profile-user-name"><%= user.username %></h1>
            <button class="btn profile-edit-btn">Edit Profile</button>
            <button
              class="btn profile-settings-btn"
              aria-label="profile settings"
            >
              <i class="fas fa-cog" aria-hidden="true"></i>
            </button>
          </div>
          <div class="profile-stats">
            <ul>
              <li>
                <span class="profile-stat-count"><%= user.stats.posts %></span>
                posts
              </li>
              <li>
                <span class="profile-stat-count"
                  ><%= user.stats.followers %></span
                >
                followers
              </li>
              <li>
                <span class="profile-stat-count"
                  ><%= user.stats.following %></span
                >
                following
              </li>
            </ul>
          </div>
          <div class="profile-bio">
            <p>
              <span class="profile-real-name"><%= user.username %></span>
               <%= user.description %>
            </p>
          </div>
        </div>
      </div>
      <!-- End of container -->
    </header>

    <main>
      <div class="container">
        <div class="gallery">
          <% photoUrls.forEach((photo) => { %>
          <div class="gallery-item" tabindex="0">
            <img src="<%= photo %>" class="gallery-image" alt="" />
            <div class="gallery-item-info">
              <ul>
                <li class="gallery-item-likes">
                  <span class="visually-hidden">Likes:</span
                  ><i class="fas fa-heart" aria-hidden="true"></i> 56
                </li>
                <li class="gallery-item-comments">
                  <span class="visually-hidden">Comments:</span
                  ><i class="fas fa-comment" aria-hidden="true"></i> 2
                </li>
              </ul>
            </div>
          </div>
          <% }); %>
        </div>
        <div class="loader"></div>
      </div>
    </main>
  </body>
</html>
